
.container{
  background-image: url(./style/image/rideshare.png);
  height:460px;
  width:100%;
}
.bgImage{
  background-image: url(./style/image/bg.jpg);
  height:640px;
  width:100%;
}
.showImage{
  background-image: url(./style/image/sh.jpg);
  height:640px;
  width:100%;
}